<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <link rel="canonical" href="{{ site.url }}" />
  <link rel="stylesheet" href="{{ site.url }}css/main.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <title>{{ site.title }}</title>
  <script src="{{ site.url }}js/qrcode.min.js"></script>
  <script src="{{ site.url }}js/main.min.js"></script>

  <script type="text/javascript" src="{{ site.url }}js/grid.js"></script>
  <script type="text/javascript" src="{{ site.url }}js/version.js"></script>
  <script type="text/javascript" src="{{ site.url }}js/detector.js"></script>
  <script type="text/javascript" src="{{ site.url }}js/formatinf.js"></script>
  <script type="text/javascript" src="{{ site.url }}js/errorlevel.js"></script>
  <script type="text/javascript" src="{{ site.url }}js/bitmat.js"></script>
  <script type="text/javascript" src="{{ site.url }}js/datablock.js"></script>
  <script type="text/javascript" src="{{ site.url }}js/bmparser.js"></script>
  <script type="text/javascript" src="{{ site.url }}js/datamask.js"></script>
  <script type="text/javascript" src="{{ site.url }}js/rsdecoder.js"></script>
  <script type="text/javascript" src="{{ site.url }}js/gf256poly.js"></script>
  <script type="text/javascript" src="{{ site.url }}js/gf256.js"></script>
  <script type="text/javascript" src="{{ site.url }}js/decoder.js"></script>
  <script type="text/javascript" src="{{ site.url }}js/qrcode.js"></script>
  <script type="text/javascript" src="{{ site.url }}js/findpat.js"></script>
  <script type="text/javascript" src="{{ site.url }}js/alignpat.js"></script>
  <script type="text/javascript" src="{{ site.url }}js/databr.js"></script>

</head>
