* {
  font-family: 'Open Sans Light', Helvetica, 'Hiragino Kaku Gothic Pro', Meiryo, Arial, sans-serif;
  line-height: 172%;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.expand {
  width: 100%;
  height: 100%;
}

#header {
  height: 16%;
  width: 100%;

  h1 {
    display: inline-block;
    color: #FFF;
    background-color: #910;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 172%;
    padding: 0 .25em;
  }
}

#main {
  height: 84%;
}

#welcome_screen {
  h1 {
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 480%;
    text-align: center;
  }
}

#sendingMessage_screen {
  h1 {
    font-size: 320%;
    font-weight: 100;
    text-align: center;
  }
  div {
    text-align: center;

    #waiting {
      display: inline-block;
      font-size: 8em;
    }
  }
}

#sendMessage_screen {
  h1 {
    font-size: 256%;
    line-height: 100%;
    font-weight: 100;
    text-align: center;
  }

  #qrcode_and_url {
    width: 100%;
    text-align: center;

    #QRCode {
      display: inline-block;
      vertical-align: middle;
      padding: 2em;
    }
    input {
      display: inline-block;
      width: 64%;
      padding: .125em .25em;
      border: solid #777 .25em;
      border-radius: .5em;
      font-size: 256%;
    }
  }
}

.flex {
  display: -webkit-flex;
  display: flex;
  width: 100%;
  height: 100%;

  .flex-body {
    -webkit-order: 2;
    order: 2;
    width: 84%;
    height: 100%;

    div.textarea-container {
      display: table;
      width: 100%;
      height: 100%;

      div {
        display: table-cell;
        vertical-align: middle;
        height: 100%;

        textarea {
          display: block;
          width: 86%;
          height: 80%;
          padding: .5em;
          margin: 0 auto;
          border: solid .25em #C80;
          border-radius: .5em;
          font-family: "Source Code Pro", "Liberation Mono", Consolas, Courier, monospace, sans-serif;
          white-space: pre;
          font-size: 160%;
        }
      }
    }
  }
  .flex-menu {
    -webkit-order: 1;
    order: 1;
    width: 16%;
    height: 100%;

    .flex-menu-1, .flex-menu-2 {
      height: 100%;

      button {
        width: 100%;
        border: none;
        background-color: #FFF;

        div {
          display: table;
          width: 72%;
          height: 64%;
          margin: 0 auto;
          background-color: #333;
          color: #FFF;
          border: solid 1px #AAA;
          border-radius: 1em;

          span {
            display: table-cell;
            vertical-align: middle;
            font-size: 172%;
            letter-spacing: .05em;
            padding: 0 .25em;

            i {
              display: inline-block;
              font-size: 172%;
              padding: .25em;
              vertical-align: middle;
            }
          }
        }
      }
      button:active {
        div {
          background-color: #89E;
        }
      }
      button#pro {
        div {
          background-color: #CCC;
        }
      }
    }

    .flex-menu-1 {
      button {
        height: 100%;

        div {
          height: 30%;
        }
      }
    }

    .flex-menu-2 {
      button {
        height: 50%;
      }
    }
  }
}
@media screen and (max-aspect-ratio: 4/3) {
  #sendMessage_screen {
    #qrcode_and_url {
      input {
        width: 86%;
        font-size: 160%;
      }
    }
  }
  .flex {
    -webkit-flex-direction: column;
    flex-direction: column;

    .flex-body {
      -webkit-order: 1;
      order: 1;
      width: 100%;
      height: 76%;
    }

    .flex-menu {
      -webkit-order: 2;
      order: 2;
      width: 100%;
      height: 24%;

      .flex-menu-1 {
        button {
          height: 100%;
          width: 100%;

          div {
            width: 48%;
            span {
              p {
                margin-right: 1em;
              }
            }
          }
        }
      }

      .flex-menu-2 {
        button {
          height: 100%;
          width: 50%;

          div {
            width: 86%;
            span {
              p {
                margin-right: 1em;
              }
            }
          }
        }
      }
    }
  }
}
