* {
  font-family: 'Open Sans Light', Helvetica, 'Hiragino Kaku Gothic Pro', Meiryo, Arial, sans-serif;
  font-size: 15pt;
  line-height: 172%;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  position: relative;
}

.code {
  font-family: "Source Code Pro", "Liberation Mono", Consolas, Courier, monospace, sans-serif;
}

.expand {
  width: 100%;
  height: 100%;
}

.flex-table-wrapper{
  display: table;
  width: 100%;
  height: 100%;

  .flex-table-cell {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
  }
}

textarea {
  border: solid .125em #333;
  border-radius: .5em;
  font-family: "Source Code Pro", "Liberation Mono", Consolas, Courier, monospace, sans-serif;
  font-size: 160%;
  padding: .25em;
  white-space: pre;
}

h1.logo {
  position: relative;
  text-indent: 0;
  overflow: hidden;
  display: inline-block;
  padding: .125em .2em;
  line-height: 116%;
  margin: .25em 0;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 384%;
  color: #FFF;
  background-color: #910;
  text-align: center;
  transform: scaleY(1.1);
  letter-spacing: -0.085em;
  border-radius: .125em;
}

#main {
  width: 100%;
  height: 100%;
}

#get_screen, #wait_screen, #error_screen, #welcome_screen, #send_screen, #scan_screen {
  text-align: center;

  textarea {
    display: block;
    width: 80%;
    height: auto;
    margin: 0 auto;
  }
  h1 {
    display: inline-block;
    font-weight: 100;
    font-size: 240%;
  }
  h1.logo {
    font-size: 384%;
  }
}

#error_screen {
  h1 {
    display: block;
  }
  textarea {
    width: 48%;
    margin: .75em auto;
      font-size: 100%;
  }
}

#get_screen, #edit_screen {
  textarea {
    display: block;
    width: 86%;
    height: 80%;
    margin: 0 auto;
 }
}

#scan_screen {
  h1 {
    display: inline-block;
  }
}

#waiting {
  display: block;
  font-size: 4em;
}

.flex {
  display: -webkit-flex;
  display: flex;
  width: 100%;
  height: 100%;

  .flex-body {
    -webkit-order: 2;
    order: 2;
    width: 84%;
    height: 100%;

  }
  .flex-menu {
    -webkit-order: 1;
    order: 1;
    width: 12%;
    height: 100%;

    .flex-menu-1, .flex-menu-2 {
      height: 100%;
      background-color: #333;

      button:active {
        background-color: #89E;
      }
      button {
        color: #FFF;
        background-color: rgba(0,0,0,0);
        border-right:  solid 2px #AAA;
        border-top:    none;
        border-left:   none;
        border-bottom: none;
        width: 100%;

        div.table-wrapper {
          display: table;
          width: 100%;
          height: 100%;

          div.table-cell-wrapper {
            display: table-cell;
            width: 100%;
            height: 100%;
            vertical-align: middle;

              i {
                text-align: center;
                display: block;
                font-size: 144%;
                vertical-align: middle;
              }
              p {
                display: block;
                padding: .25em;
              }
          }
        }
      }
      button:active {
        div {
          background-color: #89E;
        }
      }
      button#pro {
        div {
          background-color: #CCC;
        }
      }
    }

    .flex-menu-1 {
      button {
        height: 100%;
      }
    }
    .flex-menu-2 {
      button {
        height: 50%;
      }
    }
  }
}

#qrcode {
  display: inline-block;
  text-align: center;
}

#image_qrcode {
  display: inline-block;
  vertical-align: middle;

  img {
    width: 128px;
    height: 128px;
    margin: 1.5em;
  }
}

@media screen and (max-aspect-ratio: 4/3) {
  #error_screen {
    textarea {
      width: 72%;
    }
  }
  #textarea_qrcode {
    width: 80%;
  }

  #sendMessage_screen {
    #qrcode_and_url {
      input {
        width: 86%;
        font-size: 160%;
      }
    }
  }
  .flex {
    -webkit-flex-direction: column;
    flex-direction: column;

    .flex-body {
      -webkit-order: 1;
      order: 1;
      width: 100%;
      height: 80%;
    }

    .flex-menu {
      -webkit-order: 2;
      order: 2;
      width: 100%;
      height: 20%;

      .flex-menu-1, .flex-menu-2 {
        height: 100%;
        button {
          height: 100%;
          border-right: none;
          border-top: solid 2px #AAA;

          div.table-wrapper {
            div.table-cell-wrapper {
              line-height: 100%;

              i {
                display: inline-block;
                line-height: 100%;
              }
              p {
                display: inline-block;
                padding: 0 .25em;
              }
            }
          }
        }
        button#pro {
          div {
            background-color: #CCC;
          }
        }
      }

      .flex-menu-1 {
        button {
          height: 100%;
          width: 100%;

          div.table-wrapper {
            width: 100%;
          }
        }
      }
      .flex-menu-1 {
        button {
          width: 100%;
        }
      }
      .flex-menu-2 {
        button {
          width: 50%;
        }
      }
    }
  }
}
